html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(../media/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

#menu {
  text-align: center;
  display: inline-block;
  border: 1px solid gray;
  width: 15%;
  height: 100%;
  padding: 2%;
  margin: 0 auto;
  float: right;
  background-image: linear-gradient(to right, aqua, blue);
  color: white;
  z-index: 0;
  font-family: 'Bangers';
}

#menu h1 {
  font-size: 2em;
  font-family: 'Bungee Shade';
}

#menu label, input, select, p {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 4%;
}

#nameForm, #userForm, #searchForm, message {
    display: flex;
    flex-wrap: wrap;
}

#content {
  margin-bottom: 0;
  margin-top: 2%;
  position: fixed;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 85%;
  z-index: 0;
}

.result{
    width: 15%;
    height: 39%;
    font-size: 60%;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: orange;
    margin: 4%;
    margin-bottom: 1%;
    margin-top: 2%;
    padding: 1%;
    float: right;
    display: table-cell;
    position: relative;
    z-index: 1;
    font-family: sans-serif;
}

.result img{
    width: 90%;
    height: 80%;
    margin: 3%;
}

#prevButton{
    font-size: 60%;
    border: 1px solid gray;
    background-color: orange;
    margin: 1%;
    z-index: 3;
    float: left;
    font-family: sans-serif;
    width: 5%;
    height: 3%;
}

#nextButton{
    font-size: 60%;
    border: 1px solid gray;
    background-color: orange;
    margin: 1%;
    z-index: 3;
    float: right;
    font-family: sans-serif;
    width: 5%;
    height: 3%;
}

#prevButton:active{
    background-color: darkorange;
}

#nextButton:active{
    background-color: darkorange;
}